<div class="main-content">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/login']">
        <div class="brand"> <img src="./assets/img/brand/Escudo_Usta.png" alt="Santo Tomas"width="50px" height="150px"> Code Learn</div>
      </a>
      <div class="collapse navbar-collapse"  id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a routerLinkActive="active" [routerLink]="['/login']">
                <div class="brand"> <img src="./assets/img/brand/Escudo_Usta.png" alt="Santo Tomas"> Code Learn</div>
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">Seminario Green TIC</a>
        </div>
      </div>
    </div>
  </div>
</footer>
