<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Lista de alimentos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" *ngIf="isFundacion">Almacen</th>
                <th scope="col">Donación</th>
                <th scope="col">Fecha de Publicación</th>
                <th scope="col">Fecha de Recogida</th>
                <th scope="col">Lugar de Recogida</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="!isFundacion">Reservado por</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaAlimentos">
                <th scope="row" *ngIf="isFundacion">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{item.usuario.name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{item.cantidad}} {{item.tipoAlimento}}
                </td>
                <td>
                  {{item.fechaPublicacion}}
                </td>
                <td>
                  {{item.fechaRecogida}}
                </td>
                <td>
                  {{item.lugarRecogida}}
                </td>
                <td>
                  {{item.estado}}
                </td>
                <td *ngIf="!isFundacion">
                  {{item?.usuarioReserva?.name}}
                </td>
                <td class="text-right " *ngIf="isFundacion && item.estado !== 'Reservado'">
                  <div ngbDropdown placement="bottom-right relative">
                    <a class="btn btn-sm text-light" (click)="reservar(item)">
                      Reservar
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
